{% include "_top.html" %}
<main class="form-wrapper">
    <div class="w-fit flex flex-col items-center justify-center gap-7 border border-gray-200 rounded-sm p-10">
        <img class="max-w-[50%]" src="{{ url_for('static', filename='kealt.png') }}" alt="Logo">
        <h1 class="text-4xl">Thank you for your order</h1>
        <p class="text-center">Your order has been placed successfully, you will receive an email with your order details</p>
        <sl-button href="/" variant="primary">Continue shopping</sl-button>
    </div>
</main>

{% include "_bottom.html" %}