{% include "_top.html" %}
<main class="form-wrapper">
  <div class="border border-gray-200 rounded-lg p-6 grid gap-8" md="grid grid-cols-[1fr_auto_1fr] items-center w-3/4 mx-auto">
    <div class="grid gap-6">
      <img class="max-w-[50%] mx-auto block" src="{{ url_for('static', filename='kealt.png') }}" alt="" />
      <p class="text-lg text-center">{{ title }}</p>
    </div>
    <div class="hidden md:block w-0.5 h-full bg-gray-300"></div>
    <form id="reset-password-form" class="grid gap-4">
      <div class="grid gap-1">
        <label for="password">New Password</label>
        <sl-input name="password" type="password" mix-check="{{ x.REGEX_PASSWORD }}" />
      </div>
      <sl-button variant="primary" mix-post="/reset-password/{{reset_key}}" mix-data="#reset-password-form">
        Reset password
      </sl-button>
    </form>
  </div>
</main>
{% include "_bottom.html" %}