{% include "_top.html" %}

<main>
    <section class="relative min-h-[75svh] rounded-3xl overflow-hidden md:min-h-[50svh]">
        <img class="absolute w-full h-full object-cover" src="{{ url_for('static', filename='hero-image.webp') }}" alt="Food">
        <div class="absolute w-full h-full bg-black opacity-60"></div>
        <h1 class="absolute text-white p-6 bottom-0 text-6xl balance z-10">Discover <span class="text-[color:var(--sl-color-primary-600)]">Great</span> Food</h1>
    </section>
    

    <section class="flex flex-col">
    <h2 class="text-4xl font-semibold mt-10 mb-5">Monthly Deals</h2>
        <sl-carousel class="md:aspect-[16/6] aspect-square md:h-full" navigation pagination loop style="--scroll-hint: 8%; --slide-gap: .5rem">
        {% for item in items %}
            <sl-carousel-item class="relative aspect-[16/12] md:h-full text-white h-full rounded-sm">
                <img 
                    src="{{ url_for('static', filename='dishes/' + item.images[0].image_filename) if item.images else 'default.jpg' }}"
                    alt="{{ item['item_title'] }}" 
                    class="w-full absolute object-cover h-full top-0"
                />
                <div class="absolute w-full h-full bg-gradient-to-b from-transparent to-black"></div>
                <div class="absolute left-0 bottom-0 p-4 flex flex-col gap-4">
                    <div>
                        <p class="text-sm">{{ item['restaurant_name'] }}</p>
                        <h3>{{ item['item_title'] }}</h3>
                    </div>
                    <sl-format-number class="text-base" type="currency" currency="DKK" value="{{ item['item_price'] }}" lang="da"></sl-format-number>
                    <sl-button
                        variant="primary"
                        mix-post="/cart/add"
                        mix-data="#cart-add-{{ item['item_pk'] }}"
                        class="w-fit"
                    >Add to cart</sl-button>
                    <sl-visually-hidden>
                    <form id="cart-add-{{ item['item_pk'] }}">
                        <input type="hidden" name="item_pk" value="{{ item['item_pk'] }}">
                        <input type="hidden" name="item_title" value="{{ item['item_title'] }}">
                        <input type="hidden" name="item_price" value="{{ item['item_price'] }}">
                        <input type="hidden" name="item_image" value="{{ item.images[0].image_filename if item.images else 'default.jpg' }}">
                    </form>
                    </sl-visually-hidden>
                </div>
            </sl-carousel-item>
        {% endfor %}
        </sl-carousel>
        <sl-button class="mx-auto mt-8 w-full" variant="primary" href="{{ url_for('view_dishes') }}">
            <sl-icon slot="suffix" name="arrow-right"></sl-icon>
            View all dishes
        </sl-button>
    </section>

    <section>
        <h2 class="text-4xl font-semibold mt-10 mb-5">Explore restaurants in Copenhagen</h2>
        <div id="restaurants" class="gap-7 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] auto-rows-auto">
            {% for restaurant in restaurants %}
                {% include "__restaurant.html" %}
            {% endfor %}
        </div>
    </section>

    {% include "___btn_get_more_restaurants.html"%}

<section class="mb-20">
        <h2 class="text-2xl mt-10 mb-5">Looking for something near you?</h2>
        <div id="map" class="aspect-square mx-auto md:aspect-video md:w-3/4"></div>
</section>
</main>

{% include "_bottom.html" %}