{% include "_top.html" %}
<main class="form-wrapper">
  <div class="border border-gray-200 rounded-lg p-6 grid gap-8 md:grid md:grid-cols-[1fr_auto_1fr] md:items-center w-3/4 mx-auto">
    <div class="grid gap-6">
      <img class="max-w-[50%] mx-auto block" src="{{ url_for('static', filename='kealt.png') }}" alt="" />
      <p class="text-lg text-center">{{ title }}</p>
    </div>
    <div class="hidden md:block w-0.5 h-full bg-gray-300"></div>
    <form id="forgot-password-form" class="grid gap-4">
      <div class="grid gap-1">
        <label for="email">Email</label>
        <sl-input name="email" type="email" mix-check="{{ x.REGEX_EMAIL }}" />
      </div>
      <sl-button variant="primary" mix-post="/forgot-password" mix-data="#forgot-password-form">
        Send reset link
      </sl-button>
    </form>
  </div>
</main>
{% include "_bottom.html" %}